@model RoleTOPMVC.ViewModels.BaseViewModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoleTop</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    @if("Home".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" href="~/css/Roletop.css">

    }
    @if("Cadastro".Equals(@Model.NomeView))
    {
    <link rel="stylesheet" href="~/css/Cadastro.css">
    
    }
    @if("Login".Equals(@Model.NomeView))
    {
    
	<link rel="stylesheet" type="text/css" href="~/css/login.css">
    }

</head>

<header>
            @if(!"Cadastro".Equals(@Model.NomeView) && !"Login".Equals(@Model.NomeView)) 
            {
                        <div id="logo-area">
                        
                                <img src="~/img/logo (2).png" alt="Logotipo de um role muito top" title="logo" width="500" height="400"/>
                                <hgroup>
                                    <h2> O seu evento aqui é TOP</h2>
                                </hgroup>
                            </div>
                            <hr>
                            <nav>
                                <div class="section-container">
                                    <ul>
                                        <li id="bt-mobile-menu">
                                            <!-- HTML para colocar os ícones do FA -->
                                            <a href="javascript:void(0);" class="icon" onclick="toggleMobileMenu()">
                                                <i class="fa fa-bars"></i>
                                            </a>
                                        </li>
                                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")'class="active">Principal</a></li>
                                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#nosso-espaço'>Espaço</a></li>
                                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#Eventos'>Eventos</a></li>
                                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#historia'>História</a></li>
                                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Home")#perguntas-frequentes'>Dúvidas</a></li>
                                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cadastro" asp-action= "index" class="active">Cadastre-se</a></li>
                                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action= "Login" class="active">Login</a></li>
                                        
                                    </ul>
                                </div>
                            </nav>
                        
                        <hr>
                    
            }
            
        
    </header>
@RenderBody()

            <footer>
            @if(!"Cadastro".Equals(@Model.NomeView) && !"Login".Equals(@Model.NomeView))
            {
                            <div id="contato">
                                <h3>Contato</h3>
                                    <ul>
                                        <li><address><img src="~/img/right-arrow-symbol_icon-icons.com_72946.png">R. Alameda Barão de Limeira, 539</address></li>
                                        <li><address><img src="~/img/right-arrow-symbol_icon-icons.com_72946.png">São Paulo, SP</address></li>
                                        <li><address><img src="~/img/right-arrow-symbol_icon-icons.com_72946.png">(11) 4002-8922</address></li>
                                        <li><address><img src="~/img/right-arrow-symbol_icon-icons.com_72946.png">(11) 98574-8485</address></li>
                                        <li><address><img src="~/img/right-arrow-symbol_icon-icons.com_72946.png">emaildecontato@hotmail.com</address></li>
                                    </ul>
                            </div>
                            
                                    

                        
                    
                    <div id="rodape-baixo">
                        <div id="copy">
                            <img src="~/img/-copyright_90662.png">
                            <p>Todos os direitos reservados.</p>
                        </div>
                        <div id="icon-rodape">
                            <img src="~/img/social_instagram_3.png" style="border-left: 2.5px solid black"> <img src="~/img/whatsapp-black_100119.png" alt=""> <img src="~/img/social_facebook_fb_35.png">
                        </div>
                        <div id="description">
                            <p>RoleTop | Festas e Eventos Sociais</p>
                            <a href="#">Voltar para o topo!</a>
                        </div>
                    </div>

            }
            
           
            </footer>