@model RoleTOPMVC.ViewModels.EventoViewModel
<main>
        <h2>Role<strong>TOP</strong> Historico</h2>
        
        
        
    <section id="lista-pedidos">
            <h3>Lista de eventos</h3>
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Nome</th>
                        <th rowspan="2">CPF</th>
                        <th rowspan="2">Evento</th>
                        <th rowspan="2">Data do evento</th>
                        
                    </tr>
                   
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <p>Eventos atualizados em @DateTime.Now</p>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach(var evento in Model.Eventos )
                    {
                        <tr>
                            <td>@evento.Cliente.Nome</td>
                            <td>@evento.Cliente.CPF</td>
                            <td>@evento.Espaço.Local</td>
                            <td>@evento.DataDoPedido.ToShortDateString()</td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </section>
        <p id="voltarpgprinc">
        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href='@Url.Action("Index", "Cliente")'class="active"><<<  Voltar para sua página principal</a></li>
        </p>
    </main>